<!-- N A V B A R -->
<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon ion-md-menu"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="container">
      <img src="assets/images/logo.png" class="img-fluid nav-logo-mobile" alt="Company Logo">
      <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="index.html">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link text-white mx-2" routerLink="/ressource" >Resource</a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link text-white mx-2" routerLink="/reservation" >Reservation</a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="#pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        <li class="nav-item  dropdown">
          <a class="nav-link mx-2 text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span >Account</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" >Login</a></li>
            <li>
              <form method="post">
                <button class="btn" >Logout</button>
              </form>
            </li>
            <li><a class="dropdown-item" href="#">Contact us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- E N D  N A V B A R -->
<div class="container content-box">
  <router-outlet>

  </router-outlet>
</div>
