
<!-- H E R O -->
<section  id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <img src="assets/images/iphone.png" class="img-fluid" alt="Demo image">
      </div>
      <div class="col-md-7 content-box hero-content">
        <span>Unlimited Data</span>
        <h1>Digital Innovation and the <b>Future of Digital Reservation</b></h1>
        <p>Optimize your digital experience campaigns and increase your conversion rates</p>
        <button class="text-white" href="#" >Create A Reservation</button>
      </div>
    </div>
  </div>
</section>
<!-- E N D  H E R O -->

<!--  <div class="row">-->
<!--    <div class="col-md-12 text-xl-center ">-->
<!--      <h1>Final Exam</h1>-->
<!--      <h2>Reservation App</h2>-->
<!--      <button class="btn btn-info text-white" routerLink="/reservation">Make a Reservation</button>-->
<!--    </div>-->
<!--  </div>-->

